/*
 * Copyright 2019 Red Hat, Inc. and/or its affiliates.
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *        http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

.kogito-iframe.fullscreen {
  width: 100vw;
  height: 100vh;
  border: 0;
}

.kogito-iframe.not-fullscreen {
  width: 100%;
  height: 600px;
  border: 1px solid lightgrey;
  border-radius: 4px;
}

#kogito-iframe-fullscreen-toolbar {
  background-color: #222121;
  border-radius: 0 0 10px 10px;
  width: 150px;
  height: 25px;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  z-index: 1000;
  box-shadow: 0 0 10px 1px black;
  text-align: center;
}

#kogito-iframe-fullscreen-toolbar a {
  color: #e2e2e2;
}

#kogito-iframe-container.edit {
  margin: 16px;
}

#kogito-iframe-container.view {
  margin: -1px 0 0 0;
}

#kogito-toolbar-container.view {
  margin: 16px 0 16px 0;
  flex-direction: row-reverse !important;
  justify-content: space-between;
}

#kogito-toolbar-container.edit {
  flex-direction: row-reverse !important;
  justify-content: space-between;
}

#kogito-iframe-fullscreen-container {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  z-index: 999;
  border: none;
  overflow: hidden;
}

.kogito-button {
  margin-left: 4px;
  float: right;
}

.hidden {
  display: none;
}
